<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/index.css") }}">
        <title>Senhor das Pizzas</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="menu">
                    <img id="pizza" src="../static/media/icons/pizza.png" alt="logo">
                    <img id="menu" src="../static/media/icons/menu.png" alt="menu">
                </div>
                
                <nav class="navbar">
                    <ul>
                        <li><a class="navbar-item" href="#">home</a></li>
                        <li><a class="navbar-item" href="#">menu</a></li>
                        <li><a class="navbar-item" href="#">about</a></li>
                        <li><a class="navbar-item" href="#">contact</a></li>
                    </ul>
                </nav>
            </header>
            <main>
    
            </main>
            <footer>
    
            </footer>
        </div>
        <script src="{{ url_for('static', filename="js/index.js") }}"></script>
    </body>

</html>