<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/master.css") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="chat">
        <header class="headbar">
          PizzaBot
        </header>
        <main class="chatbox">

          <div class="side">
              <span class="bot message">
                Opa, meu nome é PizzaBot e vou estar te atendendo hoje!
              </span>
          </div>

        </main>
        <footer class="footbar">
          <input id="chatInput" type="text" placeholder="Your message here">
          <input id="buttonInput" type="submit" value="send">
        </footer>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename="js/master.js") }}"></script>
  </body>
</html>
